body {
   background-color: rgb(220, 179, 223);
}

h1 {
    color: darkorchid;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list {
    border: 5px solid darkcyan;
}

.youtube {
    color:aliceblue;
}

#sunrise {
    font-family: 'Comic Sans MS';
}

