body {
   background-color: rgb(220, 179, 223);
}

h1 {
    color: darkorchid;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list {
    border-width: 5px;
    border-color: darkgreen;
}

.youtube {
    color: chartreuse;
}

#sunrise {
    &:hover {
        text-shadow: 3px;
    }
}

